.page__sections {
    margin: 0 auto;
    width: calc(100% - 400px);
    max-width: 1200px;
    
}

@media all and (max-width: 1250px) {
    .page__sections {
        width: calc(100% - 250px);
        }
}

@media all and (max-width: 1070px) {
    .page__sections {
        width: calc(100% - 100px);
        }
}

@media all and (max-width: 720px) {
    .page__sections {
        width: calc(100% - 38px);
        }
}

@media all and (max-width: 319px) {
    .page__sections {
        width: calc(100% - 18px);
        }
}

