.popup__close {
    width: 40px;
    position: absolute;
    right: -30px;
    top: -30px;    
    cursor: pointer;
}

.popup__close:hover {
    opacity: 0.6;
}

@media all and (max-width: 720px) {
    .popup__close {
        width: 30px;
        right: -5px;           
        }
}