.elements__like {
    width: 22px;
    height: 20px;
    background-image: url(../../../images/like.svg);
    border: none;
    margin-right: 15px;
    padding: 1px;
    background-color: transparent; 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto auto;  
}