.elements__item {
    width: 30%;
   
}


@media all and (max-width: 800px) {
    .elements__item {
        width: 45%;
        }
}


@media all and (max-width: 610px) {
    .elements__item {
        width: 70%;
        }
}

@media all and (max-width: 410px) {
    .elements__item {
        width: 100%;
        }
}